In [2]:
# Importing libraries

import pandas as pd

In [ ]:
# Reading the transaction_data

df1 = pd.read_csv("C:/Users/pc/Desktop/IGNOSIS/transaction_data.csv")
df1.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB

In [5]:
# Checking for null values

df1.isnull().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

In [6]:
# Checking for duplicated values

df1.duplicated().sum()

np.int64(1)

In [7]:
# Reading the purchase_data

df2 =pd.read_csv("C:/Users/pc/Desktop/IGNOSIS/purchase_behaviour.csv")
df2

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0                1000   YOUNG SINGLES/COUPLES          Premium
1                1002   YOUNG SINGLES/COUPLES       Mainstream
2                1003          YOUNG FAMILIES           Budget
3                1004   OLDER SINGLES/COUPLES       Mainstream
4                1005  MIDAGE SINGLES/COUPLES       Mainstream
...               ...                     ...              ...
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

[72637 rows x 3 columns]

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [9]:
# Checking for null values

df2.isnull().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [ ]:
# Merging the two datas using outer join 

merged_df = pd.merge(df1, df2, on='LYLTY_CARD_NBR', how='outer')
merged_df

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium
1,43359,1,1002,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,YOUNG SINGLES/COUPLES,Mainstream
2,43531,1,1003,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,YOUNG FAMILIES,Budget
3,43532,1,1003,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,YOUNG FAMILIES,Budget
4,43406,1,1004,5,96,WW Original Stacked Chips 160g,1,1.9,OLDER SINGLES/COUPLES,Mainstream
...,...,...,...,...,...,...,...,...,...,...
264831,43442,88,2370701,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,YOUNG FAMILIES,Mainstream
264832,43374,88,2370751,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,YOUNG FAMILIES,Premium
264833,43397,88,2370961,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,OLDER FAMILIES,Budget
264834,43400,88,2370961,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,OLDER FAMILIES,Budget
264835,43448,88,2373711,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,YOUNG SINGLES/COUPLES,Mainstream

In [12]:
# Checking the info of the dataset

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              264836 non-null  int64
 1   STORE_NBR         264836 non-null  int64
 2   LYLTY_CARD_NBR    264836 non-null  int64
 3   TXN_ID            264836 non-null  int64
 4   PROD_NBR          264836 non-null  int64
 5   PROD_NAME         264836 non-null  object
 6   PROD_QTY          264836 non-null  int64
 7   TOT_SALES         264836 non-null  float64
 8   LIFESTAGE         264836 non-null  object
 9   PREMIUM_CUSTOMER  264836 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 20.2+ MB

In [ ]:
# Checking for null values

merged_df.isnull().sum()

DATE                0
STORE_NBR           0
LYLTY_CARD_NBR      0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [ ]:
# Checking for duplicated values

merged_df.duplicated().sum()

np.int64(1)

In [ ]:
# Checking for unique values for lifestage column

df3 = merged_df['LIFESTAGE'].unique()
df3

array(['YOUNG SINGLES/COUPLES', 'YOUNG FAMILIES', 'OLDER SINGLES/COUPLES',
       'MIDAGE SINGLES/COUPLES', 'NEW FAMILIES', 'OLDER FAMILIES',
       'RETIREES'], dtype=object)

In [25]:
# Checking foe the total values

df4 = merged_df['LIFESTAGE'].value_counts()
df4

LIFESTAGE
OLDER SINGLES/COUPLES     54479
RETIREES                  49763
OLDER FAMILIES            48596
YOUNG FAMILIES            43592
YOUNG SINGLES/COUPLES     36377
MIDAGE SINGLES/COUPLES    25110
NEW FAMILIES               6919
Name: count, dtype: int64

In [26]:
# Checking for the number of unique values

df5 = merged_df['TOT_SALES'].unique()
df6 = merged_df['TOT_SALES'].nunique()
df5, df6

(array([  6.  ,   2.7 ,   3.6 ,   3.  ,   1.9 ,   2.8 ,   3.8 ,   5.7 ,
          8.8 ,   5.1 ,   6.2 ,   2.9 ,   4.6 ,   3.9 ,   4.2 ,   4.4 ,
          2.4 ,   3.1 ,   2.6 ,   2.1 ,   5.4 ,   2.3 ,   1.8 ,   3.3 ,
          4.8 ,   5.8 ,   8.4 ,   1.7 ,   3.4 ,   7.4 ,   3.7 ,  10.8 ,
          5.9 ,  11.8 ,   1.5 ,  10.2 ,   7.6 ,   6.6 ,   4.3 ,  11.4 ,
          6.5 ,   7.8 ,   9.2 ,   5.2 ,   6.3 ,   7.2 ,   8.6 ,  10.4 ,
         15.  ,  13.8 ,  13.  ,   3.25,  11.1 ,  17.7 ,   5.6 ,  22.  ,
         18.4 ,  15.3 ,   9.9 ,  13.5 ,  13.2 ,  15.2 ,  17.6 ,  23.  ,
         19.5 ,  12.  ,  11.6 ,  16.5 ,  18.5 ,  11.7 ,  22.8 ,   8.5 ,
         14.8 ,  15.5 ,   9.  ,  12.6 ,  16.25,   9.6 ,  21.5 ,  17.1 ,
         20.4 ,  14.5 ,  29.5 ,  10.5 ,  15.6 ,  19.  ,   6.8 ,  21.6 ,
         16.2 ,   8.7 ,  27.  ,  25.5 ,   4.5 ,   9.5 ,  18.  ,   9.3 ,
         23.6 ,  16.8 ,   9.75,  21.  ,  14.  ,   6.9 ,  14.4 ,   8.1 ,
         11.5 ,  28.5 ,  12.4 ,  17.2 ,   7.5 ,  11.2 ,  12.9 , 650.  ]),
 112)

# To Identify the Profitable Customers from the merger dataset we can arrive at a conclusion that "The customers group whose sales has a higher value can be identified as profitable customers"

In [30]:
# Grouping the customers with their total sales value

grouped1 = merged_df.groupby('LIFESTAGE')['TOT_SALES'].sum()

print(grouped1)

LIFESTAGE
MIDAGE SINGLES/COUPLES    184751.30
NEW FAMILIES               50433.45
OLDER FAMILIES            353767.20
OLDER SINGLES/COUPLES     402426.75
RETIREES                  366470.90
YOUNG FAMILIES            316160.10
YOUNG SINGLES/COUPLES     260405.30
Name: TOT_SALES, dtype: float64

# From the above output we can conclude that the PROFITABLE CUSTOMERS ARE 

# 1. OLDER SINGLES/COUPLES     402426.75
# 2. RETIREES                  366470.90
# 3. OLDER FAMILIES            353767.20

In [32]:
# Checking for the unique names in Products 

df7 = merged_df['PROD_NAME'].unique()
df7

array(['Natural Chip        Compny SeaSalt175g',
       'Red Rock Deli Chikn&Garlic Aioli 150g',
       'Grain Waves Sour    Cream&Chives 210G',
       'Natural ChipCo      Hony Soy Chckn175g',
       'WW Original Stacked Chips 160g', 'Cheetos Puffs 165g',
       'Infuzions SourCream&Herbs Veg Strws 110g',
       'RRD SR Slow Rst     Pork Belly 150g',
       'Doritos Cheese      Supreme 330g', 'Doritos Mexicana    170g',
       'Old El Paso Salsa   Dip Tomato Med 300g',
       'GrnWves Plus Btroot & Chilli Jam 180g',
       'Smiths Crinkle Cut  Chips Barbecue 170g',
       'Kettle Sensations   Camembert & Fig 150g',
       'Doritos Corn Chip Southern Chicken 150g',
       'CCs Tasty Cheese    175g', 'Tostitos Splash Of  Lime 175g',
       'Kettle 135g Swt Pot Sea Salt', 'RRD Salt & Vinegar  165g',
       'Infuzions Mango     Chutny Papadums 70g',
       'Smiths Crinkle Cut  Snag&Sauce 150g',
       'Smiths Crinkle      Original 330g',
       'RRD Sweet Chilli &  Sour Cream 165g',
       'Smiths Chip Thinly  S/Cream&Onion 175g',
       'Smiths Crinkle Chips Salt & Vinegar 330g',
       'Red Rock Deli SR    Salsa & Mzzrlla 150g',
       'Cobs Popd Sea Salt  Chips 110g',
       'Natural ChipCo Sea  Salt & Vinegr 175g',
       'Natural Chip Co     Tmato Hrb&Spce 175g', 'Burger Rings 220g',
       'Woolworths Cheese   Rings 190g',
       'Smiths Thinly       Swt Chli&S/Cream175G',
       'Thins Chips Seasonedchicken 175g',
       'Smiths Thinly Cut   Roast Chicken 175g',
       'Tyrrells Crisps     Ched & Chives 165g',
       'Doritos Corn Chips  Cheese Supreme 170g',
       'Smiths Chip Thinly  Cut Original 175g',
       'Smiths Crinkle Cut  Chips Original 170g',
       'Thins Chips Light&  Tangy 175g',
       'Doritos Corn Chips  Original 170g',
       'Kettle Sensations   Siracha Lime 150g',
       'Smiths Crinkle Cut  Salt & Vinegar 170g',
       'Smith Crinkle Cut   Bolognese 150g', 'Cheezels Cheese 330g',
       'Kettle Chilli 175g', 'Tyrrells Crisps     Lightly Salted 165g',
       'Twisties Cheese     270g', 'WW Crinkle Cut      Chicken 175g',
       'RRD Chilli&         Coconut 150g',
       'Infuzions BBQ Rib   Prawn Crackers 110g',
       'Sunbites Whlegrn    Crisps Frch/Onin 90g',
       'Doritos Salsa       Medium 300g',
       'Kettle Tortilla ChpsFeta&Garlic 150g',
       'Smiths Crinkle Cut  French OnionDip 150g',
       'WW D/Style Chip     Sea Salt 200g',
       'Smiths Chip Thinly  CutSalt/Vinegr175g',
       'Kettle Sensations   BBQ&Maple 150g',
       'Old El Paso Salsa   Dip Tomato Mild 300g',
       'Tostitos Smoked     Chipotle 175g', 'RRD Lime & Pepper   165g',
       'CCs Nacho Cheese    175g', 'Snbts Whlgrn Crisps Cheddr&Mstrd 90g',
       'Kettle Tortilla ChpsBtroot&Ricotta 150g',
       'Pringles Sthrn FriedChicken 134g',
       'Pringles Chicken    Salt Crips 134g',
       'French Fries Potato Chips 175g',
       'Kettle Mozzarella   Basil & Pesto 175g', 'CCs Original 175g',
       'Tostitos Lightly    Salted 175g',
       'Smiths Crnkle Chip  Orgnl Big Bag 380g',
       'Smiths Crinkle Cut  Chips Chicken 170g',
       'Smiths Crinkle Cut  Chips Chs&Onion170g', 'Twisties Chicken270g',
       'Woolworths Medium   Salsa 300g',
       'Red Rock Deli Sp    Salt & Truffle 150G',
       'RRD Pc Sea Salt     165g', 'WW Supreme Cheese   Corn Chips 200g',
       'WW Original Corn    Chips 200g', 'Woolworths Mild     Salsa 300g',
       'Cheezels Cheese Box 125g', 'Doritos Salsa Mild  300g',
       'Cobs Popd Swt/Chlli &Sr/Cream Chips 110g',
       'Infzns Crn Crnchers Tangy Gcamole 110g',
       'WW Sour Cream &OnionStacked Chips 160g',
       'Pringles Mystery    Flavour 134g', 'Pringles Barbeque   134g',
       'Grain Waves         Sweet Chilli 210g',
       'Pringles Sweet&Spcy BBQ 134g', 'Kettle Original 175g',
       'Infuzions Thai SweetChili PotatoMix 110g',
       'Old El Paso Salsa   Dip Chnky Tom Ht300g',
       'Smiths Crinkle Cut  Tomato Salsa 150g',
       'Cheetos Chs & Bacon Balls 190g',
       'Kettle Sweet Chilli And Sour Cream 175g',
       'Doritos Corn Chips  Nacho Cheese 170g',
       'Cobs Popd Sour Crm  &Chives Chips 110g',
       'Red Rock Deli Thai  Chilli&Lime 150g',
       'Twisties Cheese     Burger 250g',
       'Kettle Sea Salt     And Vinegar 175g',
       'WW Crinkle Cut      Original 175g',
       'Dorito Corn Chp     Supreme 380g',
       'Doritos Corn Chip Mexican Jalapeno 150g',
       'Pringles SourCream  Onion 134g',
       'Kettle Tortilla ChpsHny&Jlpno Chili 150g',
       'RRD Steak &         Chimuchurri 150g',
       'Thins Chips Salt &  Vinegar 175g',
       'Thins Chips         Originl saltd 175g',
       'RRD Honey Soy       Chicken 165g',
       'Kettle Honey Soy    Chicken 175g',
       'NCC Sour Cream &    Garden Chives 175g',
       'Pringles Original   Crisps 134g',
       'Smith Crinkle Cut   Mac N Cheese 150g',
       'Thins Potato Chips  Hot & Spicy 175g', 'Pringles Slt Vingar 134g'],
      dtype=object)

In [33]:
# Checking for the number of unique names in the Product_name column

df8 = merged_df['PROD_NAME'].nunique()
df8

114

In [34]:
# Checking for the PRODUCTS whose count is more

df9 = merged_df['PROD_NAME'].value_counts()
df9

PROD_NAME
Kettle Mozzarella   Basil & Pesto 175g      3304
Kettle Tortilla ChpsHny&Jlpno Chili 150g    3296
Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    3269
Tyrrells Crisps     Ched & Chives 165g      3268
Cobs Popd Sea Salt  Chips 110g              3265
                                            ...
RRD Pc Sea Salt     165g                    1431
Woolworths Medium   Salsa 300g              1430
NCC Sour Cream &    Garden Chives 175g      1419
French Fries Potato Chips 175g              1418
WW Crinkle Cut      Original 175g           1410
Name: count, Length: 114, dtype: int64

# From the above output we can identify the "TOP THREE MOST PROFITABLE PRODUCTS" since the values shows how many number of times the items purchased by the customer.

# Henct the TOP THREE PROFITABLE PRODUCTS ARE:

# 1. Kettle Mozzarella   Basil & Pesto 175g      3304
# 2. Kettle Tortilla ChpsHny&Jlpno Chili 150g    3296
# 3. Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    3269